@import "../libs/checkIsMobile";
@import "../libs/checkIsPC";

.containerFooter {
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
  @include pc {
    min-height: 600px;
  }
  @include mobile {
    min-height: 100vh;
  }
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.pcFirstLine {
  display: flex;
  @include pc {
    flex-direction: row;
  }
  @include mobile {
    flex-direction: column;
  }
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  width: 85vw;
}

.pcSecondLine {
  display: flex;
  @include pc {
    flex-direction: row;
  }
  @include mobile {
    flex-direction: column;
  }
  align-items: center;
  justify-content: space-between;
  background-color: #000;
  width: 85vw;
}

.CountriesContact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  @include mobile {
    margin-top: 30px;
    flex-wrap: wrap;
  }
  @include pc {
    flex-wrap: nowrap;
  }
}

.CountriesContactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  height: 80px;
  margin-top: 30px;
  margin-left: 5px;
  margin-right: 5px;
  .itemName {
    font-weight: bold;
    font-family: Circular Std Bold, sans-serif;
    font-size: 18px;
  }
  .itemMail {
    font-family: Circular Std Medium, sans-serif;
    color: #c0c0c0;
    margin-top: 10px;
    font-size: 13px;
  }
  .itemPhone {
    font-family: Circular Std Medium, sans-serif;
    color: #c0c0c0;
    margin-top: 5px;
    font-size: 13px;
  }
}

.OurCompany {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile {
    margin-top: 40px;
  }
  span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
      margin-top: 40px;
    }
    u {
      cursor: pointer;
    }
  }
}

.FollowUs {
  @include mobile {
    margin-top: 40px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-weight: bold;
    font-family: Circular Std Bold, sans-serif;
    font-size: 18px;
  }
  .IconsContainer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-around;
    width: 100px;
    .icon {
      cursor: pointer;
    }
  }
}

.ButtonToTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  cursor: pointer;
  span {
    font-family: Circular Std Medium, sans-serif;
    font-size: 14px;
    @include mobile {
      margin-right: 5px; // gamb pq a imagem do 2top tem mais espaço pra direita
    }
    @include pc {
      padding-bottom: 40px;
    }
  }
}

.OurBrands {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mobile {
    margin-top: 60px;
  }
  span {
    font-family: Circular Std Bold, sans-serif;
    font-weight: bold;
    font-size: 18px;
  }
  .logosContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    img {
      object-fit: contain;
    }
  }
}

.IdiomsSelectFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    margin-top: 30px;
  }
  div {
    font-family: Circular Std Bold, sans-serif;
    font-size: 12px;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .idiomSelected {
    cursor: pointer;
    color: #fff;
  }
  .idiomUnselected {
    cursor: pointer;
    color: #c0c0c0;
  }
}

.AllRights {
  display: flex;
  align-items: center;
  justify-content: center;
  @include mobile {
    margin-top: 20px;
    padding-bottom: 50px;
  }
  span {
    font-size: 14px;
    color: #c0c0c0;
  }
}
