.custom-select {
  appearance: none; /* Remove a aparência padrão do navegador */
  -webkit-appearance: none; /* Para compatibilidade com WebKit (Safari, Chrome) */
  -moz-appearance: none; /* Para compatibilidade com Firefox */
  border: none; /* Remove a borda padrão */
  background: none; /* Remove o background padrão */
  padding: 0; /* Remove o padding padrão */
  font: inherit; /* Herda as propriedades da fonte */
  color: inherit; /* Herda a cor do texto */
  outline: none; /* Remove a borda de foco padrão */
}
