@import "../../libs/checkIsMobile.scss";
@import "../../libs/checkIsPC.scss";

.ClientsIntro {
  background-color: #f5f5f5;
  @include pc {
    height: 250px;
  }
  @include mobile {
    height: 500px;
  }
  text-align: center;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  h2 {
    @include pc {
      font-size: 41px;
    }
    @include mobile {
      font-size: 32px;
    }
    font-weight: 500;
    text-align: center;
    font-weight: bold;
  }
  .title {
    color: #f5b912;
    font-size: 40px;
    font-weight: bold;
  }
  .desc {
    color: #2b2b2b;
    font-size: 14px;
    font-weight: bold;
  }
  .itemsContainer {
    display: flex;
    @include pc {
      flex-direction: row;
    }
    @include mobile {
      flex-direction: column;
    }
    align-items: center;
    justify-content: space-around;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 25px;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 80px;
    margin-left: 10px;
  }
}

.ClientCardsContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .items {
    max-width: 1100px;
  }
}

.ClientCard {
  margin-top: 15px;
  @include pc {
    height: 400px;
  }
  @include mobile {
    height: 550px;
  }
  display: flex;
  @include pc {
    flex-direction: row;
    align-items: center;
  }
  @include mobile {
    flex-direction: column;
  }
  .imgContainer {
    background-color: grey;
    @include pc {
      height: 350px;
      width: 500px;
    }
    @include mobile {
      margin-top: 10px;
      height: 200px;
      width: 400px;
    }
    border-radius: 25px;
    img {
      @include pc {
        height: 350px;
        width: 500px;
      }
      @include mobile {
        height: 200px;
        width: 400px;
      }
      border-radius: 25px;
    }
  }
  .sideContent {
    display: flex;
    flex-direction: column;
    @include pc {
      height: 350px;
      width: 500px;
      margin: 0px 25px;
      justify-content: center;
    }
    @include mobile {
      height: 200px;
      width: 400px;
      align-items: center;
      justify-content: space-around;
    }

    h3 {
      font-family: Circular Std Bold, sans-serif;
      color: #000;
      font-size: 32px;
      font-weight: bold;
      margin: 10px 20px;
    }
    span {
      font-family: Circular Std Medium, sans-serif;
      color: #4d4d4d;
      font-size: 16px;
      margin-top: 25px;
      font-weight: 300px;
    }
    .btnReadMore {
      font-size: 32px;
      font-weight: bold;
      margin-top: 25px;
    }
  }
  .imgPosition_right {
    @include pc {
      padding-right: 50px;
    }
  }
  .imgPosition_left {
    @include pc {
      padding-left: 50px;
    }
  }
}
